.nav {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    
    
}

.nav-title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    padding-left: 40px;
    width: 40px;
}

.nav-links {
    
    list-style: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 600px;
    margin-right: 40px;
}

a {
    color: white;
    text-decoration: none;
}


.active {
    color: #FFFFFF;
    font-weight: bolder;
}

.btn {

    color: white;
    display: block;
    background-color: #17A2B8;
    border: 3px solid black;
    font-family: 'Roboto', sans-serif;
    width: 130px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: large;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}